.navbar {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px lightgray solid;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
}