.categoryList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  margin-right: 30px;
}

.categories {
  color: darkgray;
  cursor: pointer;
}

.categories:hover {
  color: gray;
}

.currentCategory {
  color: black;
}
